resource "aws_route_table" "rt_<###ITEM_NAME###>" {
  vpc_id = aws_vpc.vpc_<###PARAM_1###>.id

  route {
    cidr_block = "0.0.0.0/0"
    gateway_id = aws_internet_gateway.igw_<###PARAM_2###>.id
  }

  tags = {
    Name = "rt_<###ITEM_NAME###>"
  }
}

resource "aws_route_table_association" "rta_<###ITEM_NAME###>" {
  subnet_id      = aws_subnet.subnet_<###ITEM_NAME###>.id
  route_table_id = aws_route_table.rt_<###ITEM_NAME###>.id
}